.primary {
  background-color: #001f3f !important;

  box-shadow: 1px 1px 5px #3a6d8c !important;

  border: none !important;

  &:hover {
    background-color: #3a6d8c !important;
    box-shadow: 1px 1px 5px #001f3f !important;
  }
}

.primary-inverted {
  background-color: #3a6d8c !important;
  box-shadow: 1px 1px 5px #001f3f !important;

  &:hover {
    background-color: #001f3f !important;
    box-shadow: 1px 1px 5px #3a6d8c !important;
  }
}

.transparent {
  background-color: transparent !important;
  border: 2px solid #3a6d8c !important;

  &:hover {
    background-color: #3a6d8c !important;
  }
}

.transparent-inverted {
  background-color: transparent !important;
  border: 2px solid #001f3f !important;

  &:hover {
    background-color: #001f3f !important;
  }
}
